body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}
<!-- /* nav */ -->

nav{
    display: flex;
    padding: 5px;
    gap:40px;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #178DAD;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-items: center;
    height: 60px;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav a:hover{
    color: red;
}
header{
    padding: 20px;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header h1{
    font-size: 60px;
    color: black;
}
header span{
    color: #2e29d0;
}
header p{
    font-size: 20px;
    color: black;
}
.header-text{
    margin-right: 15%;
}

/* container */

.container{
    justify-content: center;
    display: flex;
    height: 100vh;
}

/* product */

.product-text{
    color: rgb(0, 0, 0);
    width: auto;
    justify-content:left;
    flex:auto;
    padding-left: 10%;
}
.product-card img{
    width: 80px;
}
.product-container{
    display: inline-flex;
    position: relative;
    flex-direction:row;
    
}

/* about */

.about-text{
    width: 50%;
    color: black;
}
